.navbar-nav { 
  margin-left: auto; 
}

.nav-item {
  padding: 0 40px 0 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 23px;
}
/* *,
*::before,
*::after {
  padding: 0;
  margin: 0;
} */


/* body {
  background-color:black;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


ul {
  display: inline;
  float: right;
  list-style-type: none;
  margin: 0;
  background-color: black;
}

li {
  display: inline-block;
  vertical-align: baseline;
  padding: 30px 40px 13px;
  font-size: 20px;
 
}


a {
  color: white;
}

a:active {
  color: red;
}

a:hover {
  color: red;
  text-decoration: none;
} */




.home {
  width: 100vw;
  height: 100vh;
  background-image: url('images/TwitterPic.jpg');
  background-size: cover; 
}


.search {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, rgb(141, 8, 8) , rgb(162, 0, 255));
  background-size: cover; 
}



.card {
  margin: 30px;
  padding: 25px;
  border-radius: 20px;
}



.form-group {
  display: flex;
  justify-content: center;
}

.form-control-lg {
  border-color: white;
}

.buttons {
  display: flex;
  justify-content: center;
}

.random {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, rgb(141, 8, 8) , rgb(162, 0, 255));
  background-size: cover; 
}


.icons {
  display: flex;
  justify-content: left;
}

.icon {
  padding-right: 35px;
}



.showcase {
  height: 300px;
  width: 400px;
  background-color: white;

}

/* 
.title {  
  color: white; 
  font-size: 70px;
  padding: 40px 0 0 100px;
 
}

.text {
  height: 100px;
  width: 300px;
  font-weight: bold;
  color: white;
  font-size: 30px;
  margin: 130px 0 0 125px;
}



.input {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  padding-top: 30px;
  padding-bottom: 10px;
}

input {
  height: 45px;
  width: 250px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}


.buttons {
  display: inline-flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 15px;
}

button {
  height: 45px;
  width: 115px;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  margin: 5px;
}


.showcase {
  color: white;
  height: 200px;
  width: 600px;
  font-size: 17px;
  border: white solid 1.5px;
  border-radius: 8px;
  padding: 10px 0 0 30px;
}

.usernameAndDate {
  display: inline-block;
}

p {
  padding-right: 15px;
}


.icons {
  font-size: 15px;
  padding: 20px;
}

.icon {
  display: inline-flex;
  padding: 0 10px 0 50px;
}

.random {
  background-color: white;
  color: black;
}

.char {
  background-color: white;
  color: black;
} */