.navbar-nav {
  margin-left: auto;
}

.nav-item {
  padding: 0 40px 0 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
}

body {
  background-color: rgb(250, 248, 248);
}

.home {
  width: 100vw;
  height: 100vh;
  background-image: url("images/twitterAppPhoto2.jpg");
  background-size: cover;
  background-position: center;
}

.title {
  padding: 20px 0 0 30px;
  font-size: 80px;
}

.phrase-container {
  width: 80px;
  margin: 35px 0 0 30px;
  padding: 5px;
  font-size: 15px;
  color: grey;
  border: grey solid 1px;
}

.card {
  margin: 30px;
  padding: 25px;
  border-radius: 20px;
}

i {
  font-weight: bold;
  font-style: normal;
}

.form-group {
  display: flex;
  justify-content: center;
}

.form-control-lg {
  border-color: white;
}

.buttons {
  display: flex;
  justify-content: center;
}

.ran {
  display: inline-flex;
  width: 14rem;
  height: 12rem;
}

.icons {
  display: flex;
  justify-content: left;
}

.icon {
  padding-right: 35px;
}

.showcase {
  max-height: 900px;
  max-width: 600px;
  min-width: 600px;
}

.title {
  display: block;
}

.pic {
  max-width: 450px;
  max-height: 480px;
  border-radius: 8px;
}



.text {
  padding: 10px 0 10px 0;
}

.username {
  font-size: 15px;
}

.name-date {
  display: inline-block;
}


