.navbar-nav { 
  margin-left: auto; 
}

.nav-item {
  padding: 0 40px 0 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 23px;
  font-weight: bold;
}

body {
  background-color: rgb(168, 7, 69);
}




.home {
  width: 100vw;
  height: 100vh;
  background-image: url('images/TwitterPic.png');
  background-size: cover; 
  background-position: center;
  display: flex;
  justify-content: flex-end;
}

.title-phrase {
  display: block;
  padding: 30px;
  margin: 70px 130px 0 0;
  font-weight: bold;
}

.phrase {
  /* margin: 50px 80px 0 0; */
  font-size: 30px;
}



.card {
  margin: 30px;
  padding: 25px;
  border-radius: 20px;
}





i {
  font-weight: bold;
  font-style: normal;
}




.form-group {
  display: flex;
  justify-content: center;
}

.form-control-lg {
  border-color: white;
}

.buttons {
  display: flex;
  justify-content: center;
}

.ran {
  display: inline-flex;
  width: 14rem;
  height: 12rem;
}

.icons {
  display: flex;
  justify-content: left;
}

.icon {
  padding-right: 35px;
}



.showcase {
  height: 300px;
  width: 400px;
  background-color: white;

}

.title {
  display: block;
}

/* 
.title {  
  color: white; 
  font-size: 70px;
  padding: 40px 0 0 100px;
 
}

.text {
  height: 100px;
  width: 300px;
  font-weight: bold;
  color: white;
  font-size: 30px;
  margin: 130px 0 0 125px;
}



.input {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  padding-top: 30px;
  padding-bottom: 10px;
}

input {
  height: 45px;
  width: 250px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}


.buttons {
  display: inline-flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 15px;
}

button {
  height: 45px;
  width: 115px;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  margin: 5px;
}


.showcase {
  color: white;
  height: 200px;
  width: 600px;
  font-size: 17px;
  border: white solid 1.5px;
  border-radius: 8px;
  padding: 10px 0 0 30px;
}

.usernameAndDate {
  display: inline-block;
}

p {
  padding-right: 15px;
}


.icons {
  font-size: 15px;
  padding: 20px;
}

.icon {
  display: inline-flex;
  padding: 0 10px 0 50px;
}

.random {
  background-color: white;
  color: black;
}

.char {
  background-color: white;
  color: black;
} */